@import url(https://fonts.googleapis.com/css?family=Paytone+One);

$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'evento/evento.scss';
@import 'evento/reservacion/reservacion.scss';
@import 'main/main.scss';
@import 'butaca/butaca.scss';
// endinjector

.navbar--app-title {
    font-weight: 300;
    margin: 10px;
}

.navbar--username {
    position: absolute;
    top: 0;
    right: 10px;
}


/* when showing elements */
.ng-hide-remove      { animation:0.5s fadeIn ease; }

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
