<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit md-accent" layout="column">
  <img src="assets/images/logoManati.png" alt="Estudio Manatí">
  <md-input-container class="md-block" layout-padding>
    <!-- Use floating label instead of placeholder -->
    <label>Search</label>
    <input ng-model="search" type="text">
  </md-input-container>
</header>

<md-content class="container" layout="column" layout-padding>
  <div class="row">

    <md-content class="event--list" layout="row" layout-align="space-between center" layout-wrap>
      <md-card class="event--list-item" ng-repeat="event in eventList | filter:search">
        <img ng-src="{{event.image}}" class="md-card-image" alt="event.title">
        <md-card-content>
          <h2 class="md-title">{{event.title}}</h2>
        </md-card-content>

        <md-card-footer>
          <md-chips>
            <md-chip>
              <i class="fa"
                 ng-class="{
                   'fa-music': event.eventType === 'Concierto',
                   'fa-television': event.eventType === 'Cine',
                   'fa-user-secret': event.eventType === 'Teatro',
                   'fa-headphones': event.eventType === 'Recital'
                 }"></i> {{event.eventType}}
            </md-chip>
            <md-chip>Desde: <strong>{{event.basePrice | currency}}</strong></md-chip>
          </md-chips>
          <span layout-padding am-time-ago="event.startTime"></span>
          <div>{{event.startTime | amDateFormat:'DD [de] MMMM YYYY'}}</div>     </md-card-footer>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button class="md-primary md-raised">Reservar</md-button>
        </div>
      </md-card>
    </md-content>
  </div>
</md-content>
